.button{
    font-weight: 20px;
    color: #A1A69C;
    margin-top: 10px;
    width: 100px;
    height: 60px;
    border-radius: 5px;
    border: black;
    background-color: #1A1E26;
    font-family: 'Open Sans', sans-serif;
    transition: all, .5s;
    font-weight: 600;
}
.button:hover{
    background-color: #343A40;
    transition: all, .5s;
    color: #1A1E26;
}
body{
    background-color: #A1A69C;
}
.input{
    font-weight: 700;
    font-size: 20px;
    height: 50px;
    border-radius: 5px;
    border: black;
    background-color: #6E7371;
    font-family: 'Open Sans', sans-serif;
    color: #bbbdb8;
}
.calculator{
    text-align: center;
}
.text{
    font-family: 'Open Sans', sans-serif;
}